<% provide(:title, 'Home') %>
<%-# Give a name 'Ruby .. | Home in the tab bar' -%>
<title>Ruby on Rails  | <%= yield(:title) %></title>

<h1>Sample App</h1>
<p>
  This is the home page for the
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
</p>